<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0">
    <meta name="google" content="notranslate"/>

    <title>Amazon Pay Sample</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/shop-confirmation.css" rel="stylesheet">

    <style>
        .popup-cover {
            align-items: center;
            justify-content: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,.9);
            top: 0;
            left: 0;
            z-index: 1001;
        }
        .loader {
            width: 50px;
            aspect-ratio: 1;
            border-radius: 50%;
            background:
                radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
                conic-gradient(#0000 30%,#ffa516);
            -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
            animation: l13 1s infinite linear;
            text-align: center;
        }
        @keyframes l13{
            100%{transform: rotate(1turn)}
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    
</head>
<body data-gr-c-s-loaded="true">

<div id="white_cover" class="popup-cover" style="display: none;">
    <div class="loader"></div>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-8">

            <div class="card mb-4">
                <div class="card-body">
                    <p id="error" class="text-danger"></p>
                    <h5 class="card-title">購入画面</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">商品名</th>
                            <th scope="col">単価</th>
                            <th scope="col" class="text-center">数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><img class="confirmation-item" src="/static/sample/img/item0008.jpg"></td>
                            <td class="text-right">Fire HD8</td>
                            <td class="text-right">￥8,980</td>
                            <td class="text-right">
                                <select id="hd8" name="hd8" class="form-control">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><img class="confirmation-item" src="/static/sample/img/item0010.jpg"></td>
                            <td class="text-right">Fire HD10</td>
                            <td class="text-right">￥15,980</td>
                            <td class="text-right">
                                <select id="hd10" name="hd10" class="form-control">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="AmazonPayButton" style="text-align:center"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://static-fe.payments-amazon.com/checkout.js"></script>
<script type="text/javascript">
    let client = "browser";
    if(window.androidApp) {
        client = "androidApp";
    } else if(window.webkit && webkit.messageHandlers && webkit.messageHandlers.iosApp) {
        client = "iosApp";
    }
    document.cookie = "client=" + client + ";path=/"; // ここではテストのため、localhostへはhttpでアクセスするため、secure属性を付与しない。

    function saveSelectedValues() {
        document.getElementById('error').textContent = '';
        let hd8 = document.getElementById('hd8').value;
        let hd10 = document.getElementById('hd10').value;
        document.cookie = "hd8=" + hd8 + ";path=/"; // ここではテストのため、localhostへはhttpでアクセスするため、secure属性を付与しない。
        document.cookie = "hd10=" + hd10 + ";path=/"; // ここではテストのため、localhostへはhttpでアクセスするため、secure属性を付与しない。
    }
    saveSelectedValues();
    document.getElementById('hd8').addEventListener('change', saveSelectedValues);
    document.getElementById('hd10').addEventListener('change', saveSelectedValues);

    if(client === 'browser') {
        amazon.Pay.renderButton('#AmazonPayButton', {
            // set checkout environment
            merchantId: 'A23YM23UEBY8FM',
            ledgerCurrency: 'JPY',
            // customize the buyer experience
            checkoutLanguage: 'ja_JP',
            productType: 'PayAndShip',
            placement: 'Cart',
            sandbox: true,
            buttonColor: 'Gold',
            // configure Create Checkout Session request
            createCheckoutSessionConfig: {                     
                payloadJSON: '{"webCheckoutDetails":{"checkoutReviewReturnUrl":"https://localhost:3443/sample/checkoutReview"},"storeId":"amzn1.application-oa2-client.242a859efb5f47f09847f3f0aebd50ca","scopes":["name","email","phoneNumber","billingAddress"]}', // string generated in step 2
                signature: 'AYZBBDCHz3HKmU14WbHFl3iFZr+pb6HxtsS1xsxXgEPWWiTFh/OMGvtliKt3JyLqTSbA5RfxAk/cLpCsPq1CoW6n2m3oTKC2BuaCWpurPHxIMrCEWvgKVde1RKZ+5I565ZlbPMHQvKTY/H787CVQFZJ9wrBDfyHvwtd+qAcvTFS4UN6DJN1OAdSuoV7le/fGdosAixGURfekM2jYwzDEvY3xlGHWxuhN+7wwZ/xCESj9BFGR6c+gZh0tlCLMhWYDodjvNYKPDz7rhiJb7K5KzUFM08FGxcKuV1Avpkdqp73YKZl+7j/5yo4PI9ZTRfXmNSi2y5QEIhoWyhxd0sq0MA==', // signature generated in step 3
                publicKeyId: 'SANDBOX-AGH2Y6VC2VAUJ27GG6VDFOTD',
                algorithm: 'AMZN-PAY-RSASSA-PSS-V2'
            }
        });
    } else {
        let node = document.createElement("input");
        node.type = "image";
        node.src = "/static/img/button_images/Gold/Sandbox-ja_jp-amazonpay-gold-large-button_T2.png";
        node.style.width = "90%";
        node.addEventListener('click', (e) => {
            coverScreen();
            if(client === 'androidApp') {
                androidApp.login();
            } else {
                webkit.messageHandlers.iosApp.postMessage({op: 'login'});            
            }
        });
        document.getElementById("AmazonPayButton").appendChild(node);
    }

    function loadUrl(url) {
        location.href = url;
    }
    
    function coverScreen() {
        document.getElementById('white_cover').style.display = 'flex';
    }

    function uncoverScreen() {
        document.getElementById('white_cover').style.display = 'none';
    }
</script>

</body>
</html>