<!DOCTYPE html>
<html lang="en" class="gr__s3-ap-northeast-1_amazonaws_com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0">
    <meta name="google" content="notranslate" />
</head>

<body data-gr-c-s-loaded="true">
<div id="AmazonPayButton"></div>

<script src="https://static-fe.payments-amazon.com/checkout.js"></script>
<script type="text/javascript" charset="utf-8">
    function getURLParameter(name, source) {
        return decodeURIComponent((new RegExp('[?|&amp;|#]' + name + '=' +
                        '([^&;]+?)(&|#|;|$)').exec(source) || [, ""])[1].replace(/\+/g, '%20')) || null;
    }
    document.cookie = `token=${getURLParameter('token', location.search)}; path=/;` // Cookieにtokenを保存

    amazon.Pay.initCheckout({
        // set checkout environment
        merchantId: 'A23YM23UEBY8FM',
        ledgerCurrency: 'JPY',
        // customize the buyer experience
        checkoutLanguage: 'ja_JP',
        productType: 'PayAndShip',
        placement: 'Other',
        sandbox: true,
        // configure Create Checkout Session request
        createCheckoutSessionConfig: {                     
<% if (client === 'iosApp') { // iOS・Android間でSimulatorからのHost OSのlocalhostの表現方法の違いを吸収するための分岐。本番や検証サーバーではこの分岐は必要ない。 %>
            payloadJSON: '{"webCheckoutDetails":{"checkoutReviewReturnUrl":"https://localhost:3443/static/next.html","checkoutCancelUrl":"https://localhost:3443/static/cancel.html?client=iosApp"},"storeId":"amzn1.application-oa2-client.242a859efb5f47f09847f3f0aebd50ca","scopes":["name","email","phoneNumber","billingAddress"]}', // string generated in step 2
            signature: 'lp5kUeUJulihEgMvziLbUa1XBqGFRxfLlIB6j4ZAM1RdLZCMZT8igqh+NW/1x5xUNJz0nX0zMwcM5T4ZxN+GtrhtGKwj4tBkm9UJMzWJLgP9whJsHVFTxgTa84KD9R7ryZ8ww3D9c5C5yMx9qjuMO/7HqgLvecHlLVnBjBFf1Y+rAqCzjaDabSHHuFIhBWCzn4hU/y4KnlhWyZ4F7UYKJ0SQKWMKRHGkYpD0lU4X42Mhlmk68b0c3USMxlx6PP707ZqbfGL+u0Iwdq9NmlIMD/AOIGgsBYR0Erk2Ck2NcPk9UYaMi+2Y9Mg8eCciDueeV4CKgdeDNZ42i/HJ1QeQqg==', // signature generated in step 3
<% } else { %>
            payloadJSON: '{"webCheckoutDetails":{"checkoutReviewReturnUrl":"https://10.0.2.2:3443/static/next.html","checkoutCancelUrl":"https://10.0.2.2:3443/static/cancel.html?client=androidApp"},"storeId":"amzn1.application-oa2-client.242a859efb5f47f09847f3f0aebd50ca","scopes":["name","email","phoneNumber","billingAddress"]}', // string generated in step 2
            signature: 'fv/19tEP7JqBnG1RExMVCoo33Rfq0yE0W7psgso/IcUjTljYxL1sQpNx9QY877mJnQt9J4aQAtS9rmNcYzEIBUHSDhLNlLpjtFEH40oEFSw/JStT/r4CtZXf+UhBFwuZJOO0xu2oL2JHYqc7w3eVNkozPVNX4tbUiS8SNfBnzBRX9RQoDOt4zVm+a2MHVvGM2E9KAaqhVZ4vRFLUtlH2+8AJkDKZUzYlv5YxfOXLWMJnVdbY8DnqvJy6A09Ijsud/WWJDbigZHFFVp2dTtZRvCY6Bh1HRb7o7PUzaB8GYvOnt1hS+6EurkBEPZ42Sf/DV+qp1HAzQtdpOiEcxbP7Ng==', // signature generated in step 3
<% } %>
            publicKeyId: 'SANDBOX-AGH2Y6VC2VAUJ27GG6VDFOTD',
            algorithm: 'AMZN-PAY-RSASSA-PSS-V2'
        }
    });
</script>

</body>
</html>
